[Desktop Entry]
Type=Application
Name=Travel Planner
Comment=TravelPlanner — plan your itineraries
Exec=/home/lampert/projects/Travelplanner/travelplanner/build/linux/x64/release/bundle/travelplanner %U
Icon=/home/lampert/projects/Travelplanner/travelplanner/web/icons/Icon-192.png
Terminal=false
Categories=Planner;Travel;
StartupWMClass=travelplanner
Keywords=travelplanner
